In [29]:
import pandas as pd
import numpy as np
import matplotlib as mpl

df = pd.DataFrame({
    "strings": ["Adam", "Mike"],
    "ints": [1, 3],
    "floats": [1.123, 1000.23]
})
df

  strings  ints    floats
0    Adam     1     1.123
1    Mike     3  1000.230

In [30]:
df.style\
.format(
    precision=2,
    thousands=',',
    decimal='.'
).format_index(axis=1,formatter=str.upper)\
.relabel_index(["row1","row2"], axis=0)

In [31]:
import pandas as pd
import numpy as np

# 範例 DataFrame
data = {
    'A': [1234.5678, 9876.5432, 10000.00],
    'B': [0.1234, 0.5678, 0.9999],
    'C': ['蘋果', '香蕉', '櫻桃'],
    'D': pd.to_datetime(['2023-10-26', '2023-10-27', '2023-10-28']),
    'E': [np.nan, 1, 2]
}
df = pd.DataFrame(data)
df

            A       B   C          D    E
0   1234.5678  0.1234  蘋果 2023-10-26  NaN
1   9876.5432  0.5678  香蕉 2023-10-27  1.0
2  10000.0000  0.9999  櫻桃 2023-10-28  2.0

In [32]:
styled_df1 = df.style.format("{:.2f}",subset=['A','B'])
styled_df1

In [40]:
weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                        index=pd.date_range(start="2021-01-01", periods=10),
                        columns=["Tokyo", "Taipei"])

In [41]:
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=5, cmap='BuPu',subset=['Tokyo'])

In [42]:
def rain_condition(v):
    if v < 1.75:
        return "乾燥"
    elif v < 2.75:
        return "有雨"
    else:
        return "大雨"
    
def change_index(t):
    return t.strftime('%Y年%m月%d日')

weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=5, cmap='BuPu',subset=['Tokyo'])\
.format(rain_condition)\
.format_index(change_index)

In [44]:
import numpy as np
np.random.seed(0)
df2 = pd.DataFrame(np.random.randn(10,4), columns=['A', 'B', 'C', 'D'])
display(df2.style)

In [48]:
def style_negative(v):
    if v < 0:
        return 'color:#003C9D;background-color:green'
df2.style.applymap(style_negative)

/tmp/ipykernel_68079/2062570429.py:4: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  df2.style.applymap(style_negative)

In [ ]:
import numpy as np
import pandas as pd

scores = np.random.randint(50, 101, size=(50, 5))
df = pd.DataFrame(scores,
             columns=['國文', '英文', '數學', '地理', '歷史'],
             index=range(1,51)
             )
df.index.name = '學號'
df.columns.name = '科目'
df

In [50]:
def less_60(v):
    if v < 60:
        return 'background-color:red'
df.style.applymap(less_60)

/tmp/ipykernel_68079/3081280398.py:4: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  df.style.applymap(less_60)

In [51]:
def style_cells(row):
    return ['background-color: red' if val < 61 else '' for val in row]

df.style.apply(style_cells, axis=1)

In [52]:
def style_cells(row):
    if len(row[row < 60]) >= 3:
        return ['background-color: red' for _ in row]
    else:
        return ['','','','','']

df.style.apply(style_cells, axis=1)